html,
body {
  box-sizing: border-box;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

#popup-content {
  width: 400px;
}

#error-content {
  width: 250px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.1rem;
}

h2 {
  font-size: 1rem;
}

.hide {
  display: none;
}

#companyName {
  height: 2rem;
}

button {
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #bedddd;
}

button:hover {
  background-color: #d5eeee;
}

button.delete {
  background-color: #5b0d1b;
  color: #f3f3f3;
}

button.delete:active,
button.delete:hover {
  background-color: #8b3141;
}

button.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 5px;
}

table button.icon {
  background-color: #e0e0e0;
  width: 1.75rem;
  height: 1.75rem;
}
table button.icon:hover,
table button.icon:active {
  background-color: #bedddd;
}

table button.icon img {
  width: 1.5rem;
}

#addCompany {
  border-radius: 0px 4px 4px 0px;
}

.input-wrapper {
  display: flex;
}

#listContainer {
  margin-top: 2rem;
}

table {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

tr {
  display: flex;
  width: 100%;
  gap: 2px;
}

th {
  background-color: #dfe6e6;
}

th:first-of-type {
  width: 80%;
}

th:last-of-type {
  width: 20%;
}

td,
th {
  text-align: left;
  padding: 0.25rem 0.5rem;
}

tbody {
  max-height: 175px;
  overflow-y: scroll;
}

.table-company-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(80% + 12px);
}

.table-company-name span {
  width: 80%;
}

.table-company-count {
  display: flex;
  align-items: center;
  width: 20%;
}

.button-group button:first-of-type {
  margin-right: 0.5rem;
}

tbody tr:nth-of-type(2n) td {
  background-color: #f5f5f5;
}

#companyNameError {
  margin: 0.5rem 0 0.25rem 0;
  color: #7b0000;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #fff;
  }

  th {
    background-color: #445959;
  }

  tbody tr:nth-of-type(2n) td {
    background-color: #3c3c3c;
  }

  button {
    background-color: #8ccfcf;
  }

  input {
    color: #fff;
    background-color: #333;
    border-color: #8ccfcf;
  }

  #companyNameError {
    color: #ff9f9f;
  }
}
